<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.spring.api.entity.ItemImageEntity" alias="ItemImageEntity"/>
		<typeAlias type="com.spring.api.dto.ItemWithItemImageDTO" alias="ItemWithItemImageDTO"/>
		<typeAlias type="java.util.HashMap" alias="HashMap"/>
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="com.spring.api.entity.UserEntity" alias="UserEntity"/>
		<typeAlias type="com.spring.api.entity.QuestionEntity" alias="QuestionEntity"/>
		<typeAlias type="com.spring.api.entity.FollowingEntity" alias="FollowingEntity"/>
		<typeAlias type="com.spring.api.entity.BlockingEntity" alias="BlockingEntity"/>
		<typeAlias type="com.spring.api.entity.MessageEntity" alias="MessageEntity"/>
		<typeAlias type="com.spring.api.entity.ItemEntity" alias="ItemEntity"/>
		<typeAlias type="com.spring.api.entity.CommentEntity" alias="CommentEntity"/>
	</typeAliases>
</configuration>